body {
  font-family: Arial;
  background: #f3f3f3;
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: white;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #0a3d3f;
}

/* TITLE */
.title {
  padding: 15px;
  font-size: 26px;
  font-weight: bold;
}

.title span {
  color: #0a3d3f;
}

/* SEARCH */
.search {
  margin: 0 15px;
  padding: 12px;
  background: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  width: calc(100% - 30px);
}

/* CARD */
.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

/* LEFT */
.left {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin-right: 10px;
}

/* TEXT */
.name {
  font-weight: bold;
}

.sub {
  color: gray;
  font-size: 14px;
}

/* STATUS */
.status {
  color: green;
  font-size: 14px;
}

/* NAV */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
