* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
}

.screen {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Clickable areas (adjust if needed) */

.click {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 80px;
}

/* Positions */
.main { top: 240px; }
.south { top: 340px; }
.cafe { top: 440px; }
.amul { top: 540px; }