body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

/* FULL SCREEN */
.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* IMAGE */
.top img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

/* CENTER */
.center {
  text-align: center;
  margin-top: -40px;
}

.center h1 {
  color: #0a3d3f;
  font-size: 32px;
}

/* LINES */
.lines {
  margin-top: 10px;
}

.lines div {
  width: 6px;
  height: 25px;
  background: #bbb;
  display: inline-block;
  margin: 3px;
  border-radius: 10px;
}

/* BOTTOM */
.bottom {
  text-align: center;
  padding-bottom: 40px;
}

.bottom p {
  font-size: 20px;
  color: #0a3d3f;
  margin-bottom: 20px;
}

/* BUTTON */
button {
  background: #ff7a00;
  border: none;
  color: white;
  padding: 15px 40px;
  border-radius: 30px;
  font-size: 16px;
}
